* 

body {
    background: rgba(0,0,255,0.25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

button {
    border: 1px solid white;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 700;
}

div {
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    margin-top: 10px;    
    text-align: center;
    max-width: auto;
}

#namebox {
    border: 5px solid red;
    background: black;
    color: white;
}

#option1, #option2, #option3 {
    font-weight: 100;
    background: darkcyan;
    color: wheat;
    height: 20%;
}

@media screen and (min-width: 361px) {
    body {
        background: rgba(0,255,0,0.25);
    }

    button {
        margin: auto;
    }
}