* 

body {
    background: rgba(0,0,255,0.25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

button {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#randombox {
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;    
    text-align: center;
    max-width: auto;
}

#ButtonSpace {
    text-align: center;
}

@media screen and (min-width: 361px) {
    body {
        background: rgba(0,255,0,0.25);
    }

    button {
        margin: auto;
    }
}